td, th {
  text-align: center;
  font-family: Comic Sans, Cursive;
	border: 0.5px dashed;
  color: rgb(73, 15, 102);
  font-size: 24px;
  }
  
p {
  text-align: center;
  color: rgb(73, 15, 102);
  font-family: cursive;
  font-size: 24px;
}

h1 {
  text-align: center;
  color: pink;
  font-family: cursive;
  font-size: 64px;
}

table {
  margin: 0 auto;
  border-spacing: 15px 4px;
  border-collapse: separate;
}

body {
  background: linear-gradient(in hsl longer hue 90deg, red 0 0);
}

tr:nth-child(even) {
  background: linear-gradient(in hsl longer hue 75deg, red 0 0);
}

tr:nth-child(odd) {
  background: linear-gradient(in hsl longer hue 285deg, red 0 0);
}
